body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img{
    
 height: 300px;
 width: 300px;
 

}  
#image{
    height: 300px;
    width:300px;
    border:1px solid black;
}
#buttons{
    display: flex;
    margin-top: 90px;
    margin-right: 500px;
    height:40px;
    width:40px;
    gap:50px;
}